.header{
  height: 100px;
  width: 100%;
  background: linear-gradient(to left,#450E4B,#CF0063); 
}

.logo{
  padding-left: 144px;
  padding-top: 29px;
  width: 120px;
  height: 43px;
}

.menu{
  position: relative;
  display: flex;
  left: 52%;
  bottom: 30px;
  a{
    padding-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
  }
}